PORT=8080
LOGIN_URL=https://login.salesforce.com          # or test.salesforce.com
SESSION_SECRET_KEY=mySuperSecretKey
IS_HTTPS=false                                  # true if you serve over HTTP
API_VERSION=59.0